<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695624448854-itul8au95r52up4u2k4r6tlc6vka2ne1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695624448854-itul8au95r52up4u2k4r6tlc6vka2ne1</string>
	<key>API_KEY</key>
	<string>AIzaSyBQzk1aWYdBauqwe0OPkNh6rZpUaGp-aa0</string>
	<key>GCM_SENDER_ID</key>
	<string>695624448854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.gaitmate</string>
	<key>PROJECT_ID</key>
	<string>gaitmate-b8dad</string>
	<key>STORAGE_BUCKET</key>
	<string>gaitmate-b8dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695624448854:ios:fc817e4c46e998c1da34f7</string>
</dict>
</plist>